<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <appSettings>

        <!--Thrift服务IP和端口-->
        <add key="HdfsThriftIP" value="192.168.3.10"/>
        <add key="HdfsThriftPort" value="8888"/>
        
        <!--服务器根路径-->
        <add key="HdfsRoot" value="hdfs://192.168.3.10:9000/user/root"/>
        
        <!--文件存储份数-->
        <add key="HDFSREPLICATION" value="2"/>

    </appSettings>

    <log4net>
        <appender name="InfoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="log/info.txt" />
            <staticLogFileName value="true" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyyMMddHH" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline%exception%newline" />
            </layout>
            <filter type="log4net.Filter.LevelMatchFilter">
                <param name="LevelToMatch" value="INFO" />
            </filter>
        </appender>
        <logger name="LG">
            <level value="INFO" />
            <appender-ref ref="InfoRollingFileAppender" />
        </logger>
    </log4net>
</configuration>